* { 
    padding: 0;
    margin: 0; 
   text-decoration: none; 
    list-style: none;
   box-sizing: border-box; 
} 
body { 
    font-family: montserrat; 
} 
nav { 
    background-color: saddlebrown; 
   height: 80px; 
    width: 100%; 
} 
label.logo { 
    color:white; 
   font-size: 35px; 
    line-height: 80px; 
    padding: 0 100px; 
    font-weight: bold; 
} 
nav ul { 
    float: right; 
    margin-right: 20px; 
}
nav ul li { 
    display: inline-block;
    line-height: 80px; 
   margin: 0 5px; 
} 
nav ul li a { 
    color: red; 
    font-size: 17px; 
   padding: 7px 13px; 
    border-radius: 3px; 
   text-transform: uppercase; 
} 
a.active,a:hover { 
   background-color: white; 
    transition: .3s; 
} 
.checkbtn { 
    font-size: 30px; 
   color: white; 
    float: right; 
   line-height: 80px; 
    margin-right: 40px; 
    cursor: pointer; 
   display: none; 
} 
#check { 
   display: none; 
} 
@media (max-widht: 952px) {
label.logo { 
       font-size: 30px; 
        padding-left: 50px; 
   } 
    nav ul li a { 
        font-size: 16px; 
} 
} 
@media (max-widht: 858px) { 
    .checkbtn { 
        display: block; 
} 
    ul { 
        position: fixed; 
        width: 100%; 
        height: 100vh; 
        background: saddlebrown; 
        top: 80px; 
        left: -100%; 
        text-align: center; 
        transition: all .5s; 
    } 
   nav ul li{
       display: block;
   }
   nav ul li a{
       font-size: 20px;
   }
   a:hover,a.active{
       background-color: none;
       color: #0082e6;
   }
   #check:checked ul{
       left: 0;
   }
}
img{
   width: 100%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: saddlebrown;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: saddlebrown;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}